@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    padding: 0;
    margin: 0;
}

label, h1, a, li{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.bloco{
    width: 100vw;
    height: 90vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: url(../Img/backgroud_1.png);
    background-color: rgb(12, 0, 122);
    background-attachment: fixed;
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: transparent;
}

.head img{
    width: 18vw;
    height: 10vh;
    padding-right: 30px;
}

.head label{
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.head label:hover{
    color: gray;
}

.scroll {
    display: flex;
    width: 100vw;
    height: 90vh;
    overflow: hidden;
}

.sections {
    transition: .5s;
}

.scroll #rd_home, #rd_sobre, #rd_serv, #rd_diff, #rd_merc, #rd_cont, #rd_time {
    display: none;
}

#rd_sobre:checked ~ .sections{
    margin-top: -90vh;
}

#rd_serv:checked ~ .sections{
    margin-top: -180vh;
}

#rd_diff:checked ~ .sections{
    margin-top: -270vh;
}

#rd_merc:checked ~ .sections{
    margin-top: -360vh;
}

#rd_time:checked ~ .sections{
    margin-top: -450vh;
}

#rd_cont:checked ~ .sections{
    margin-top: -540vh;
}

.homesec{
    display: flex;
    align-content: space-between;
}

#home div h1 {
    font-size: 60px;
}

.blogcont{
    display: flex;
    align-content: space-between;
    padding-left: 30px;
    padding-top: 10px;
}

.homesec .separar{
    padding-left: 30px;
}

.blogcont button{
    width: 100px;
    height: 30px;
    border: 2px solid;
    border-radius: 10px;
}

.blogcont button a {
    font-size: 20px;
    text-decoration: none;
    font-weight: bolder;
    color: black;
}

.blogcont .blog{
    background-color: red;
}

.blogcont .cont{
    background-color: green;
}

#cont {
    display: flex;
    justify-items: center;
}

.splide__list{
    height: 80vh;
    width: 90vw;
}

.splide__slide #sobre1{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.splide__slide #sobre1 #titulo{
    width: 100%;
    margin-left: 30%;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 20px;
    border-bottom: 2px solid white;
    color:white;
}

.splide__slide #sobre1 #sobre1_bckgrd{
    border: 2px solid white;
    border-radius: 360px;
    padding: 20px;
    background-color: white;
    margin-left: 30px;
}

.splide__slide #sobre1 #sobre1_texto h1{
    font-weight: lighter;
    font-size: 20px;
    margin-left: 10px;
    padding-bottom: 30px;
    border-bottom: 2px solid white;
    color:white;
}

.splide__slide #sobre2{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.splide__slide #sobre2 #sobre2_bckgrd{
    border: 2px solid white;
    border-radius: 360px;
    padding: 20px;
    background-color: white;
    margin-right: 20px;
}

.splide__slide #sobre2 #sobre2_texto h1{
    font-weight: lighter;
    font-size: 20px;
    padding-bottom: 30px;
    border-bottom: 2px solid white;
    color:white;
}

.servdiv {
    display:flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 600px;
}

.servdiv img{
    width: 200px;
    height: 200px;
}

.servdiv #titserv{
    width: 400px;
    border: 2px solid black;
    background: black;
    border-radius: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.servdiv #titserv #tith1{
    text-align: center;
    padding: 10px;
    font-size: 28px;
    color: white;
}

.divdiff{
    width: 70vw;
    height: 65vh;
    background-color: white;
    border: 4px solid black;
    border-radius: 100px;
    align-items: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

.titdiff{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.titdiff h1{
    font-size: 30px;
}

.listadiff{
    margin-left: 10px;
    list-style: none;
    line-height: 50px;
    font-size: 20px;
    text-decoration: underline;   
}

#divmerc{
    width: 65vw;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.titmerc{
    width: 400px;   
    background-color: black;
    border: 3px solid;
    border-radius: 100px;
    margin-bottom: 20px;
}

.titmerc h1{
    margin: 0;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.mercgest{
    margin-right: 10px;
    width: 320px;
    height: 320px;
    background-color: white;
    border: 3px solid black;
    border-radius: 100%;
    padding: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gesttit h1{
    font-size:20px;
    padding-bottom:10px;
}

.gestimg{
    justify-content: center;
    align-items:center;
}

.gestimg h1{
    font-size: 12px;
    text-align: center;
}

.merclog{
    margin-right: 60px;
    width: 150px;
    height: 150px;
    background-color: white;
    border: 3px solid black;
    border-radius: 100%;
    padding: 70px;
    display: flex;
    align-content:center;
    justify-content: center;
    flex-wrap: wrap;
}

.logtit h1{
    font-size:20px;
    padding-bottom:10px;
    text-align: center;
}

.logimg h1{
    font-size: 12px;
    text-align: center;
}

.divcont1{
    width: 30vw;
    height: 50vh;
    padding-left: 30px;
    padding-top: 30px;
    background-color: gainsboro;
    box-shadow: 9px 5px 5px 5px rgb(20, 2, 2, 0.705);
    border: 1px gray solid;
    border-radius: 10px;
}

.divcont2{
    width: 30vw;
    height: 50vh;
    padding-left: 30px;
    padding-top: 30px;
    background-color: rgb(49, 47, 47);
    box-shadow: 9px 5px 5px 5px rgb(20, 2, 2, 0.705);
    border: 1px gray solid;
    border-radius: 10px;
}

.divcont1 h1{
    font-size: 15px;
    text-align: center;
}

form div{
    justify-content: center;
    align-content: center;
}

form div input{
    width: 80%;
    height: 20px;
    border: none;
    border-bottom: 1px solid gray;
    margin-top: 15px;
    padding-right: 10px;
}

#msg{
    margin-bottom: 20px;
}

.btnenviar{
    align-content: center;
    justify-content: center;
}

.btnenviar input{
    width: 30%;
    border: 3px solid black;
    border-radius: 10px;
    background-color: black;
    color: white;
    align-content: center;
}

.divcont2 div{
    margin-bottom: 30px;    
}

.infocont{
    display: flex;
}

#contloc{
    margin-left: 20px;
}

.infocont div ul{
    list-style: none;
}

.infocont div ul li{
    margin-bottom: 10px;
}

.imgcont{
    align-items: center;
    align-content:center;
    justify-content:center;
    width: 10px;
    height: 40px;
    margin-left:10px;
}

.imgcont i{
    margin-bottom: 10px;
}

.imgcont i{
    font-size: 20px;
}

.social i{
    padding-left: 25px;
    font-size: 50px;
    margin-right: 15px;
}

.social i:hover{
    opacity: .7;
}


span{
    color:green;
}